.header {
    position: absolute;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid #A1A1A1;
    &__row {
        box-sizing: border-box;
        justify-content: flex-end;
    }
}

.nav {
    &__item {
        padding: 20px;
        transition: 0.3s;
        &:hover {
            border-bottom: 1px solid $color-white;
            transition: 0.3s;
        }
    }
    &__link {
        @include font(16px, 500, $color-white);
    }
}